<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Note</title>
    <style>
        html,body,#root {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="root"></div>
</body>

</html>